html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background: #000;
}

div{
  display: flex;
}
h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  
  margin-top: 50px;
  text-align: center;
  color: lightgoldenrodyellow;
}

canvas {
  border:1px solid #F4D258; 
  margin:30px 0px 0px 80px;
}

p {
  font-size: 2rem;  
  margin-top: 200px;
  margin-left: 100px;
  color: lightgoldenrodyellow;
  font-weight: bold;
  display: block;
}
